<link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">
<script src="{{ '/assets/js/custom.js' | relative_url }}"></script>
<div id="modal-exoplanets" class="modal">
    <div class="modal-content">
      <h3>Habitability of Exoplanets</h3>
      <p>Classifying whether a given planet from the NASA kepler dataset is possibly habitable or not using a variety of Machine Learning Techniques</p>
      <p><a href="https://github.com/Rishabkashyap14/CSE_575_Habitability" target="_blank">
        <i class="fab fa-github" aria-hidden="true" style="margin-right: 0.3em;"></i>
        GitHub Repo
      </a></p>
      <a href="#_" class="close-modal">Close</a>
    </div>
  </div>
  