<div id="modal-malicious" class="modal">
    <div class="modal-content">
      <h3>Classification of Malicious URLs</h3>
      <p>This project uses various machine learning models (including LSTM and Random Forest) to forecast air pollutant concentrations using public datasets. It includes full preprocessing pipelines, model evaluation, and visualization dashboards.</p>
      <p><a href="https://github.com/Rishabkashyap14/URL-Classifier" target="_blank">
        <i class="fab fa-github" aria-hidden="true" style="margin-right: 0.3em;"></i>
        GitHub Repo
      </a></p>
      <a href="#_" class="close-modal">Close</a>
    </div>
  </div>
  