<div id="modal-movies" class="modal">
    <div class="modal-content">
      <h3>Movie Success Prediciton</h3>
      <p>Data Analysis and Time Series prediction of whether a movie yet to be released would be successful or not</p>
      <p><a href="https://github.com/Rishabkashyap14/Movie-success-predictor" target="_blank">
        <i class="fab fa-github" aria-hidden="true" style="margin-right: 0.3em;"></i>
        GitHub Repo
      </a></p>
      <a href="#_" class="close-modal">Close</a>
    </div>
  </div>
  