<div id="modal-malicious" class="modal">
    <div class="modal-content">
      <span class="close-modal" style="cursor:pointer;">&times;</span>
      <h3>Classification of Malicious URLs</h3>
      <p>ML models to classify URLs. Includes LSTM and Random Forest models.</p>
    </div>
  </div>
  
  <div id="modal-movies" class="modal">
    <div class="modal-content">
      <span class="close-modal" style="cursor:pointer;">&times;</span>
      <h3>Movie Success Prediction</h3>
      <p>Predicts if upcoming movies will succeed based on data analysis.</p>
    </div>
  </div>
  
  <div id="modal-exoplanets" class="modal">
    <div class="modal-content">
      <span class="close-modal" style="cursor:pointer;">&times;</span>
      <h3>Habitability of Exoplanets</h3>
      <p>Ranks exoplanets based on likelihood of being habitable using ML.</p>
    </div>
  </div>
  
  </div>